.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("/public/logos/wechat.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.container h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-btn,
.signup-btn {
  width: 8rem;
  height: 3.5rem;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  color: white;
  transition: all 0.3s ease;
  margin-bottom: 1rem; 

}

.login-btn {
  background: linear-gradient(to right, #667eea, #764ba2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;

  margin: 1rem;
}

.signup-btn {
  background: linear-gradient(to right, #629564, #2cd33a);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;

  margin: 1rem;

}

.login-btn:hover,
.signup-btn:hover {
  border: 2px solid white;
  background: linear-gradient(to right, #1a1a1a, #000000);
}
