.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("/public/logos/wechat.jpg");
  background-size: cover;
  background-position: center;
}

.login-btn,
.signup-btn {
  width: 8rem;
  height: 3.5rem;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  color: white;
  transition: all 0.3s ease;
  margin-bottom: 1rem; 
}

.login-btn {
  background-color: rgb(98, 91, 195);
}

.signup-btn {
  background-color: rgb(29, 210, 111);
}

.login-btn:hover,
.signup-btn:hover {
  border: 2px solid white;
  background-color: black;
}
